

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}


form {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px gray;
}


.input-container {
    margin-bottom: 15px;
    text-align: left;
}

.input-container label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.input-container input,
.input-container textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.submit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}


.submit-btn:hover {
    background-color: #45a049;
}


.thank-you-page {
    background-color: #dff9fb;
}

.thank-you-img {
    width: 50%;
    display: block;
    margin: 20px auto;
}
